:root {
    --primary-color: #7F7BBA;
    --secondary-color: #E3A9BB;
    --third-color: #A7D7C5;
    --four-color: #EDE0EF;
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: auto;
    margin: 0%;
    font-family: var(--font-family);
}

/**Header**/

.nav {
    margin: 5rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.nav a:first-of-type {
    position: relative;
    right: -32rem;
    bottom: -5px;
    padding: 0.5rem;
    height: 40px;
    padding-bottom: 0%;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: white;
    font-weight: bolder;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav a:first-of-type:hover {
    background-color: var(--primary-color);
    transform: scale(1.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.link {
    width: 60px;
    height: 60px;

    transition: transform 0.3s ease;
}

.link:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    filter: brightness(1.5);
    cursor: pointer;
}

.barre ul {
    display: block;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #7F7BBA;
    border-radius: 5rem;
    display: flex;
    padding: 15px 20px;
    width: 28rem;
    justify-content: center;
    position: relative;
    align-items: center;
    list-style: none;
    top: -8.4rem;
    box-shadow: 0 10px 14px #DCCADE;

}
.barre a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}

.barre a:before {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ADA6D2;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.barre a:hover:before {
    width: 100%;
}

.P {
    margin: 0%;
    width: 100%;
    height: auto;
}

.P:first-of-type{
    width: 85%;
    height: auto;
    display: block;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    
}

/**Main**/

.APROPOS {
    padding-left: 5rem;
    position: relative;
    top: -3rem;
    width: 60%;
    height: auto;
}

.minibio img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin-left: 8rem;
    position: relative;
    top: -8rem;
    margin: 8rem;
}

.minibio {
    display: flex;
    flex-direction: row;
    align-content: baseline;
}

.minibio p:first-of-type {
    color: black;
    font-weight: none;
}

.minibio p:first-of-type strong {
    font-weight: bolder;
}

div:first-of-type p {
    padding-right: 13rem;

}

div:first-of-type h1 {
    color: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--third-color));
}



.FondContact {
    border-radius: 0%;
    margin: 0%;
    width: 100%;
    height: auto;
    rotate: 180deg;
}

.HardS {
    width: 550px;
    height: auto;
    margin-left: 8rem;
    margin-top: 10rem;
    position: relative;
    top: -55rem;
}

.HardS img {
    width: 140px;
    Height: 140px;
    border-radius: 100%;
    margin: 1rem;
    transition: transform 0.3s ease;
}

.SoftS {
    border-radius: 100%;
    width: 550px;
    height: auto;
    margin-left: 8rem;
    margin-top: 10rem;
    position: relative;
    top: -93rem;
    right: -40rem;

}

.Valeurs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: -62rem;
    margin-bottom: 3rem;
}

.Valeurs img {
    width: 290px;
    height: auto;
    border-radius: 100%;
    margin: 4rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.Valeurs img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.Fond {
    margin: 0%;
    width: 100%;
    height: 275px;
    border-radius: 0%;
}

.Logiciels img {
    background-color: #DCCADE;
    width: 160px;
    Height: 160px;
    border-radius: 28px;
    margin: 1rem;
    transition: transform 0.3s ease;
}

.Logiciels img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.Logiciels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    top: -8rem;
}

.MP {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 5rem;
}

.Parcours {
    /*MON PARCOURS*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.CarteP {
    margin: 3rem;
    background-color: #DCCADE;
    border-radius: 30px;
    box-shadow: 10px 10px 15px #ADA6D2;
    transition: box-shadow 0.3s ease;
}

.CarteP:hover {
    box-shadow: 10px 10px 15px #7F7BBA;
    transition: box-shadow 0.3s ease;
}


.CarteP h3 {
    background-color: transparent;
    text-align: left;
    width: auto;
    padding-left: 0%;
    text-shadow: 1px 1px 2px var(--primary-color), 2px 2px 4px var(--primary-color), 3px 3px 6px var(--primary-color);
}

.CarteP h3:hover {
    background-color: transparent;
}

.CarteP .contenu {
    padding: 4rem;

}

.Parcours img {
    display: block;
    margin: auto;
    width: 5rem;
    height: auto;
}

.Parcours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.ContainerP {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.peinture {
    width: 100%;
    height: auto;
    margin: 0%;
    border-radius: 0%;
}

.cartes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3rem;
}

.carte{
    display: flex;
    flex-direction: column;
    
}

.carte {
    flex: 1 1 calc(33.333% - 4rem);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

.carte .img {
    width: 340px;
    height: auto;
    margin: 0%;
    border: 2px solid black;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.carte .img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    box-shadow: 0 0 25px #7F7BBA;
    border: solid #7F7BBA;
}

.carte .texte{
    margin-top: 1rem;
    box-shadow: 0px 5px 10px #7F7BBA;
    padding: 2rem;
    border-radius: 30px;
    width: 285px;
}
.carte .texte h3{
    background-color: transparent ;
    color: black;
}

.lignefirst{
    display: flex;
    padding-top: 0rem;
}

.lignefirst h3{
    text-align: left;
    padding-left: 0%;
    margin-left: 0%;
}

.lignefirst h5{
    text-align: right;
}


.carte .texte h3:hover{
    background-color: transparent  ;

}

.F h4 p {
    font-weight: bolder;
    color: #7F7BBA
}

.Q img {
    width: 70px;
    height: 70px;
    border-radius: 16px;
    margin: 5rem;
    transition: transform 0.3s ease;
}

.Q img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}

h3 {
    width: 13rem;
    padding: 0.8rem 2rem;
    border-radius: 1000px;
    background-color: #7F7BBA;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: block;
    margin: auto;

}

h3:hover {
    background-color: #ADA6D2;
    transition: background-color 0.3s ease;
}

h3:not(:hover) {
    transition: background-color 0.3s ease;
}

.FC {
    margin: 0%;
    margin-top: 5rem;
    margin-bottom: 0;
    border-radius: 0%;
    width: 100%;
    height: auto;
    display: relative;

}

.Infos {
    display: flex;
    margin: 4rem 8rem;
}

.Infos img:first-of-type {
    width: 490px;
    height: 600px;
    margin-right: 5rem;
}

.Contact {
    display: flex;
}

.Contact a {
    margin: 1rem;
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    background-color: #7F7BBA;
    border-radius: 5rem;
    padding: 1rem;
    width: 7rem;
    border: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease,
        transform 0.3s ease;

}

.Contact a:first-of-type {
    margin: 1rem;
    margin-left: 0%;
}

.Contact a:nth-child(2) {
    width: 9rem;
}


.Infos .Contact img {
    width: 50px;
    height: 50px;
    margin-right: 0%;
    padding-right: 0.8rem;
}

.Contact a:hover {
    background-color: #ADA6D2;
    cursor: pointer;
    transform: scale(1.2);
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}



/**Footer**/

footer {
    margin: 0%;
    background-color: #7F7BBA;
    text-align: center;
    padding: 30px 0px;
    font-family: Arial, sans-serif;
}

footer nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 0rem 1.5rem;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
    color: black;
    position: relative;
    bottom: -1rem;
    color: white;
}

footer p a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

footer p a:hover {
    text-decoration: none;
    color: #A7D7C5;
    transition: color 0.3s ease;
}

.popup {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 101;
}

.popup-base {
    background-color: #0000;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .2s;
    width: 100%;
    z-index: 0;
}

.popup-content{
    background-color: #fef6f3;
    border-radius: 45px;
    box-shadow: 0 2px 4px #0000000a;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    min-height: 65%;
    opacity: 0;
    padding: 50px;
    transform: scale(.7) translateY(50px);
    transition: all .2s cubic-bezier(.165, .84, .44, 1);
    width: 65%;
    z-index: 1;
}

.popup-content img:first-of-type {
    width: 400px;
    height: auto;
    border-radius: 30px;
}

.contenu-popup {
    display: flex;
    margin: 0.2rem;
}

.contenu-popup button {
    background-color: #7F7BBA;
    border-radius: 18px;
    border: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease,
        background-color 0.3s ease;

}

.contenu-popup button:hover {
    background-color: #ADA6D2;
    transform: scale(1.2);
    transition: transform 0.3s ease,
        background-color 0.3s ease;
}
    

.texte-popup {
    margin-left: 2rem;
    width: 22rem;
}

.texte-popup .titre{
    display: flex;
}

.titre{
    width: 35rem;
}
.texte-popup h3{
    background-color: transparent;
    color:black;
    margin-left: 0%;
    padding-left: 0%;
    text-align: left;
    font-size: 3rem;
    width: 20rem;
    padding-top: 0%;
}

h3#popup-title{
    width: 30rem;
}

.contenu-popup img:nth-child(2) {
    width: 160px;
    height: 40px;
    margin-top: 1rem;
    border-radius: 50px;
    transition: filter 0.3s ease;
}

.contenu-popup:hover {
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}

.texte-popup p{
    width: 32rem;
}

.popup-hide {
    opacity: 0;
    pointer-events: none
}

.popup-show>.popup-base {
    background-color: #00000080
}

.popup-show>.popup-content {
    opacity: 1;
    transform: scale(1) translateY(0)
}


.touslesbutton button{
    background-color: #7F7BBA;
    border-radius: 15px;
    border: none;
    display: block;
    margin: auto;
    justify-content: space-between;
    width: 270px;
    height: 70px;
    font-size: x-large;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s ease;
}



.touslesbutton .firstbutton{
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    align-items: center;
}

.grpboutons {
    width: 75rem;
    display: flex;
    align-content: center;
    margin: auto;
    margin-bottom: 3rem;
}



