h4 {
    width: 10rem;
    padding: 0.8rem 2rem;
    border-radius: 1000px;
    background-color: #7F7BBA;
    margin: 5rem;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h4:hover{
    background-color: #ADA6D2;
    transition: background-color 0.3s ease;
}

h4:not(:hover) {
    transition: background-color 0.3s ease;
}