img{
    width: 70px;
    height: 70px;
    border-radius: 16px;
    margin: 5rem;
    transition: transform 0.3s ease;
}

img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
    cursor: pointer;
}