img{
    margin: 5rem;
    width: 290px;
    height: auto;
    border-radius: 100%;
    transition: transform 0.3s ease;
}

img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}